<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"

       xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.1.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.1.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd
        http://www.springframework.org/schema/mvc  http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
        http://www.springframework.org/schema/data/jpa
        http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
http://www.w3.org/2001/XMLSchema-instance ">
    <description>WX Service Configration</description>

    <context:component-scan base-package="com.zy17"/>

    <mvc:annotation-driven/>
    <util:properties id="wxProperties"
                     location="classpath:/wx.properties"/>

    <!--微信消息处理-->
    <util:list id="msgHandlers">
        <bean class="com.zy17.service.msghandler.ExcluedeEventHandle"/>
        <bean class="com.zy17.service.msghandler.SubscribeEventHandle"/>
        <bean class="com.zy17.service.msghandler.VoiceMsgHandle"/>
        <bean class="com.zy17.service.msghandler.GuessCmdMsgHandle"/>
        <bean class="com.zy17.service.msghandler.HelpCmdMsgHandle"/>
        <bean class="com.zy17.service.msghandler.ClearCmdMsgHandle"/>
        <bean class="com.zy17.service.msghandler.ShortvideoMsgHandle"/>
        <bean class="com.zy17.service.msghandler.ImageMsgHandle"/>
        <bean class="com.zy17.service.msghandler.TextMsgHandle"/>
        <bean class="com.zy17.service.msghandler.DefaultMsgHandle"/>
        <!--<ref bean="subscribeEventHandle"/>-->
        <!--<ref bean="voiceMsgHandle"/>-->
        <!--<ref bean="imageMsgHandle"/>-->
        <!--<ref bean="textMsgHandle"/>-->
        <!--<ref bean="default"/>-->
    </util:list>

</beans>